<!-- Bottom Bar (Ẩn mặc định) -->

<nav class="bottom-bar justify-content-around align-items-center">
    <div class="nav-item">
        <a class="nav-link" href="/home">
            <img src="/icons/home.svg" alt="Home Icon">
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="/search">
            <img src="/icons/search.svg" alt="Search Icon">
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link plus-button" href="#">
            <img src="/icons/plus.svg" alt="Add Icon">
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="/notifications">
            <img src="/icons/heart.svg" alt="Favorites Icon">
        </a>
    </div>
    <div class="nav-item">
        <a class="nav-link" href="/profile/<%= user._id %>">
            <img src="/icons/profile.svg" alt="Profile Icon">
        </a>
    </div>
</nav>